.slideshow-container {
  position: relative;
  max-width: 450px;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  display: none;
}

img.img-cover {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.5);
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
